<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newBurger="{{burger}}">
		{{#if burger}}Devour the burger!{{else}}eat the burger!{{/if}}
	</button>
	<button class="burger-delete" data-id="{{id}}">Devour!</button>
</li>
